@use "../../../styles/variables" as v;

.login-page{
    background-color: v.$primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-wraper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;

    img{
        max-width: 100%;
        padding: 10px;
    }
}

.login-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin: 3% 20%;
    padding: 3% 5%;
    gap: 30px;

    button{
        margin-top: 15px;
        width: 100%;
    }
}

.dev-info{
    color: white;
    font-size: 18px;

    .info{
        margin-bottom: 10px;
    }

    i{
        font-size: 25px;
    }

    a{
        color: white;
        
    }

    a:not(.hint a){
        font-weight: normal;
    }

    .hint{
        font-weight: bold;
    }
}

@media(max-width:580px) {
    .logo-wraper{
        img{
            width: 300px;
        }
    }
}